<mat-sidenav-container class="sidenav-container">
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <span fxLayout="row" fxLayoutAlign="center center" ><img src="../../../assets/images/pokemonBallHome.png" [ngClass]="{'header-img': true}">Pokemon</span>
        <span fxFlex></span>
        <span>
          <input class="effect-10" type="text" placeholder="Enter pokemon name" (keydown)="handleKeyDown($event)">
        </span>
      </mat-toolbar>
      <!-- Add Content Here -->
    </mat-sidenav-content>
  </mat-sidenav-container>